.App {
  text-align: center;
  padding-top: 33px;
  font-family:'Lucida Casual', 'Comic Sans MS';
}

.App div{
    width: 500px;
    margin: auto;
}
.icon{
  position: absolute;
  padding-top: 10px;
  font-size: 22px;
  color: #646464;
  left: 80%;
}
.icon2{
  position: absolute;
  padding-top: 10px;
  font-size: 22px;
  color: #646464;
  left: 90%;

}
.cards{
  width: 370px !important;
  height: 170px;
  cursor: pointer;
  position: relative;
  float: left;
  margin-top: 40px !important;
  margin-left: 30px !important;
  background-color:#d1d3d6;
  background-image: linear-gradient(to right,#d1d3d6 , rgb(241, 241, 239)); /* Standard syntax (must be last) */

}
.noteLeft{
  text-align: left;
  padding-left: 20px;
}
.red{
  border-left: 15px solid rgb(192, 106, 106);
}
.green{
  border-left: 15px solid rgb(100, 202, 100);

}
.blue{
  border-left: 15px solid rgb(110, 110, 172);
}
.yellow{
  border-left: 15px solid rgb(203, 224, 110);
}
.purple{
  border-left: 15px solid rgb(182, 110, 224);
}
button{
  cursor: pointer;
  text-align: center;
  background-color: rgb(112, 174, 245);
  border-width: 0px;
  height: 33px;
  color: #fff;
  font-size: 11px;
  width: 100px;
  border-radius: 4px;

}
label{
  display: block;
  width: auto;
  margin: 0px;
  color: rgb(170, 168, 168);
}
input, select{
  margin-bottom: 14px;
  display: block;
  width: inherit;
  height: 28px !important;
  color: rgb(97, 97, 97);
  font-family:'Lucida Casual', 'Comic Sans MS';
  background-color: rgb(241, 239, 239);
  border:1px solid rgb(189, 184, 184);
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.label{
  text-align: left;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.open-modal-btn + div{
  position: absolute !important;
    margin-left: 30% !important;
    z-index: 111;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.back-drop {
  background-color: rgba(48, 49, 48, 0.42);
  height: 100% !important;
  position: fixed;
  transition: all 1.3s;
  width: 100% !important;
}
