.App {
  text-align: center;
  padding-top: 33px;
  font-family: 'Times New Roman', Times, serif;
}

.App div{
    width: 500px;
    margin: auto;
    text-align: start;
}
label{
  display: block;
  width: auto;
  margin: 0px;
  color: rgb(170, 168, 168);
}
input, select{
  margin-bottom: 14px;
  display: block;
  width: inherit;
  height: 28px !important;
  color: rgb(97, 97, 97);
  font-family:'Lucida Casual', 'Comic Sans MS';
  background-color: rgb(241, 239, 239);
  border:1px solid rgb(189, 184, 184);
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.label{
  text-align: left;
}
